
.biggy-autocomplete-wrapper{
  width: 39vw;
}

.biggy-autocomplete{
  border-radius: 25px;
  top: 73px

}



:global(.vtex-search-result-3-x-galleryLayoutSwitcher){
  display: none;
}

@media screen  and (max-width: 1024px){
    .biggy-autocomplete-wrapper{
        width: 100vw;
    }

    .biggy-autocomplete{
        top: 9px;
        right: -100xp;
    }


}
