.defaultErrorMessage--formulario-roleta{
  color: #ffffff
}

.confirmationCheckboxContainer--termo-concordo-roleta :global(.vtex__icon-check),
.confirmationCheckboxContainer--aceito-termos :global(.vtex__icon-check){
  color: #F466BE;
}

.confirmationCheckboxContainer--aceito-termos :global(.vtex-checkbox__box),
.confirmationCheckboxContainer--termo-concordo-roleta :global(.vtex-checkbox__box){
  background-color: #FFFFFF;
  border-radius: 5px;
}


.newsletterForm {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.nameInputContainer :global(.vtex-input-prefix__group),
.phoneInputContainer :global(.vtex-input-prefix__group),
.emailInputContainer :global(.vtex-input-prefix__group) {
  height: auto;
  border: 0;
}

.nameInputContainer :global(.vtex-styleguide-9-x-input),
.emailInputContainer :global(.vtex-styleguide-9-x-input) {
  padding: 10px 15px 10px;
  background: gray;
  border-radius: 10px;
}
.nameInputContainer--inputs-form-roleta :global(.vtex-styleguide-9-x-input),
.emailInputContainer--inputs-form-roleta :global(.vtex-styleguide-9-x-input),
.phoneInputContainer--inputs-form-roleta :global(.vtex-styleguide-9-x-input){
  padding: 8px 15px 8px;
  background: transparent;
}

.phoneInputContainer--inputs-form-roleta :global(.vtex-input-prefix__group),
.nameInputContainer--inputs-form-roleta :global(.vtex-input-prefix__group),
.emailInputContainer--inputs-form-roleta :global(.vtex-input-prefix__group) {
  border: none;
}


.phoneInputContainer--inputs-form-roleta,
.nameInputContainer--inputs-form-roleta,
.emailInputContainer--inputs-form-roleta {
  border: 2px solid #246FBF;
  border-radius: 10px;
}

.phoneInputContainer--inputs-form-roleta :global(.vtex-styleguide-9-x-input)::placeholder,
.nameInputContainer--inputs-form-roleta :global(.vtex-styleguide-9-x-input)::placeholder,
.emailInputContainer--inputs-form-roleta :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #3D3D3D91!important;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 12px;
}

.nameInputContainer :global(.vtex-styleguide-9-x-input)::placeholder,
.emailInputContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #ffffff;
}

.nameInputContainer--newsletter-footer :global(.vtex-styleguide-9-x-input)::placeholder,
.emailInputContainer--newsletter-footer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #ffffff;
  width: 100px;
}

.defaultErrorMessage,
.defaultSuccessMessage,
.newsletterForm :global(.vtex-input__error) {
  text-align: center;
  padding-left: 5px;
  background-color: transparent;
}

.confirmationCheckboxContainer--termo-concordo-roleta :global(.vtex-checkbox__line-container) {
  display: flex;
  text-align: left;
}


/* form -roleta */
.newsletterForm--formulario-roleta {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 50px
}



.nameInputContainer,
.emailInputContainer,
.phoneInputContainer {
  width: 446px;
  color: #696969;
  margin-bottom: 7px;
}

.nameInputContainer :global(.vtex-input__label),
.emailInputContainer :global(.vtex-input__label),
.phoneInputContainer :global(.vtex-input__label) {
  color: #696969;
}


/* .phoneInputContainer--inputs-form-roleta :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: white;
  color: gray !important;
} */

.phoneInputContainer--inputs-form-roleta :global(.vtex-input__label) {
  color: white;
  margin-bottom: 20px;
}

.emailInputContainer--inputs-form-roleta :global(.vtex-input-prefix__group) {
  color: black;
}



.defaultSuccessMessage--formulario-roleta {
  width: 100%;
}

.confirmationCheckboxContainer--termo-concordo-roleta {
  width: 100%;
}

.confirmationCheckboxContainer--termo-concordo-roleta :global(.vtex-checkbox__label) {
  color: #FFFFFF;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 10px;
}

.confirmationCheckboxContainer--aceito-termos :global(.vtex-checkbox__label) {
  color: #FFFFFF;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 10px;
}




.formSubmitContainer--submit-button {
  border: none;
  padding-top: 5px;
}

.formSubmitContainer--submit-button :global(.vtex-button__label){
  width: 446px;
}

.formSubmitContainer--submit-button :global(.vtex-button) {
  border: none;
  background-color: #F466BE;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

.formSubmitContainer--submit-button :global(.vtex-button):hover {
  background-color: #FF44B7BD;
  color: #969696;
}


.phoneInputContainer--inputs-form-roleta {
  background-color: #ffff;
}

.emailInputContainer--inputs-form-roleta {
  background-color: #ffff;
}

.nameInputContainer--inputs-form-roleta {
  background-color: #ffff;
}

/* email error */
.phoneInputContainer--inputs-form-roleta :global(.vtex-input__error),
.nameInputContainer--inputs-form-roleta :global(.vtex-input__error),
.emailInputContainer--inputs-form-roleta :global(.vtex-input__error) {
  background-color: black;
  margin: 0;
  padding: 10px 0px 0 0;
}



@media screen and (max-width: 380px) {
  .newsletterForm {
    margin-top: 285px;
  }

  .phoneInputContainer--inputs-form-roleta,
  .emailInputContainer--inputs-form-roleta,
  .nameInputContainer--inputs-form-roleta {
    width: 100%;
  }
}


@media screen and (max-width: 1024px) {
  .nameInputContainer--newsletter-footer,
  .emailInputContainer--newsletter-footer{
    width: unset;
  }

  .confirmationCheckboxContainer--termo-concordo-roleta :global(.vtex-checkbox__line-container) {
    margin-bottom: 5px;
  }

  .confirmationCheckboxContainer--aceito-termos :global(.vtex-checkbox__label) {
    text-decoration: underline;
    color: #ffff;
    font-size: 10px;
    margin-top: 3px;
  }

  .phoneInputContainer--inputs-form-roleta,
  .emailInputContainer--inputs-form-roleta,
  .nameInputContainer--inputs-form-roleta {
    width: 250px;
    margin: 5px;
  }

  .confirmationCheckboxContainer--termo-concordo-roleta :global(.vtex-checkbox__label) {
    font-size: 10px;
  }

  .newsletterForm {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
  }

  .newsletterForm--newsletter-footer{
    margin-left: 0;
  }

  .confirmationCheckboxContainer--termo-concordo-roleta {
    width: 70%;
    padding-left: 0;
    margin-top: 10px;
    font-size: 12px;
  }

  .formSubmitContainer--submit-button {
    border: none;
    padding-top: 10px;
  }

  .formSubmitContainer--submit-button :global(.vtex-button__label){
  width: unset;
}
}
