.orderByOptionItem--selected,
.orderByOptionItem:hover{
  color: black;
}

.orderByOptionItem,
.filterPopupTitle,
.totalProducts--layout{
  color: var(--fonte-cor-normal);
}

.orderByOptionsContainer{
  z-index: 100;
}

.filter__container {
  border-color: white;
}

:global(.vtex-checkbox__label){
  color: white;
}

:global(.vtex-checkbox__line-container) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

:global(.vtex-checkbox__inner-container) {
  border-color: white;
}

.filters--layout {
  background-color: var(--rosa-installments);
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 45px;
}

.gallery{
  padding-left: 10px!important;
}

.gallery .stackItem--fav-dinamic-background {
  display: block;
}

.filter__container--title,
.filter__container--priceRange {
  display: none;
}


/* vtex-search-result-3-x- */

/* .filterAvailable {
  background-color: var(--rosa-installments);
} */

.filterTitleSpan {
  margin: 5px 10px;
  color: white;
}


.filterTemplateOverflow {
  padding: 10px;
}

.caretIcon {
  color: white;
}

/* vtex-search-result-3-x-filterIsOpen */

.searchNotFoundOops {
  display: none !important;
}
