


.label--link-ver-mais{
  font-size: 1.2rem;
  color: white;
  font-family: "montserrat-regular";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #F365D3;
  padding: 10px 20px;
  border-radius: 10px;
}

.childrenContainer--label-botao {
  padding: 6px;
  border-radius: 50%;
  display: flex;
}


.label--label-botao {
  color: transparent;
  border-radius: 50%;
  margin-right: 15px;
  border-radius: 50%;
  margin-right: 15px;
  /* min-width: 78px; */
  /* min-height: 40px; */
  padding: 10px 15px;
}

.label--link-bell-rosa {
  background-color: #FEBBCE;
}

.label--link-bell-rose-gold {
  background-color: #D8A7AD;
}

.label--link-bell-perola {
  background-color: #F7F5F0;
}

.label--link-sweet-pink {
  background-color: #FF9FBF;
}

.label--link-sweet-black {
  background-color: #1E1E1E;
}

.link-0-x-childrenContainer--link-baixar-manuais .btndownload {
  border: none;
}


.link--link-ler-manuais {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: #f8f1f6;
  color: #616060;
  font-weight: bold;
  border-radius: 6px;
  margin: 5px 0px;
  box-shadow: 5px 3px 5px #959494;
}

.link--link-ler-manuais:hover {
  background-color: #c7c7c7;
  color: white;
}

.link--link-baixar-manuais {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: #e95296;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  margin: 5px;
  box-shadow: 5px 3px 5px #959494;
}

.link--link-baixar-manuais:hover {
  background-color: #be4179;
}

.childrenContainer--manuais-pdp {
  background-color: var(--rosa-da-rosa);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.link--link-banner-home {
  width: 100%;
}

.link--texto-linha-login-mobile,
.label--texto-linha-login-mobile {
  color: white;
  text-decoration: none;

}

.link {
  text-decoration: none;
}

.link--link-menu-institucionais {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.link--link-menu-institucionais:hover{
  background-color: #FEBBCE;
}

.childrenContainer--link-menu-institucionais {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.childrenContainer--link-menu-institucionais .link--item-menu-institucionais {
  text-decoration: none;
}

.childrenContainer--link-categorias {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
.label--link-ver-mais{
  font-size: 0.8rem;
}
}