.sellingPrice--prod-din-preco-vista-riscado {
  display: flex
;
    align-items: center;
  color: var(--fonte-cor-normal);
}

.currencyContainer--prod-din-preco-vista-riscado {
  font-size: 3.4vh;
}

.spotPriceSavings--prod-din-preco-vista {
  font-size: 2.4vh;
  color: var(--fonte-cor-normal);
  font-weight: 900;
}

.installments--prod-din-preco-parcelado {
  font-size: 2.4vh;
  color: #FEBBCE !important;
  font-weight: 800;
}

.listPrice {
  color: var(--fonte-cor-normal);
  margin-bottom: .25rem;
  font-size: 1rem;
}

.sellingPrice {
  color: var(--fonte-cor-normal);
  font-family: "inter-bold";
  font-size: 25px;
}

.installments {
  color: var(--fonte-cor-normal);
  margin-bottom: 1rem;
}

.savings {
  font-weight: 500;
  color: #79B03A;
}

.sellingPriceValue--prod-din-preco-vista-riscado{
  color: var(--fonte-installments)!important;
}


.sellingPriceValue--summary {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--fonte-cor-normal);
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: var(--fonte-cor-normal);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
}


.spotPriceSavings--summary {
  font-size: 0.875rem;
  color: var(--fonte-cor-normal);
}

.installments--summary {
  color: var(--fonte-cor-normal);
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: var(--fonte-cor-normal);
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}



:global(.vtex-numeric-stepper__plus-button-container),
:global(.vtex-numeric-stepper__minus-button-container) {
  background-color: var(--fonte-cor-normal);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

}

/* botao adicionar ou tirar itens do carrinho */
:global(.vtex-numeric-stepper__plus-button),
:global(.vtex-numeric-stepper__minus-button) {
  display: flex;
  background-color: transparent;
  border: none;
  color: #696969;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}


:global(.vtex-numeric-stepper__input) {
  border: none;
  background-color: transparent;
  color: var(--fonte-cor-normal);
}

.savings--summary {
  background: var(--violeta);
  border-radius: 1000px;
  align-items: center;
  display: flex;
  margin: 5px -15px 0px 0px;
  font-size: 1rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px 2px var(--violeta);
  animation: vtex-product-price-1-x-pulse 2s infinite;
  padding: 5px;
}

.savingsValue--summary {
  width: 100%;
}

.installments--summary-segunda {
  color: var(--fonte-cor-normal);
  font-family: "inter-regular";
  font-size: 16px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .installments--prod-din-preco-parcelado {
    font-size: 18px;
    white-space: nowrap;
  }

  .spotPriceSavings--summary {
    text-align: center;
  }

  .listPrice {
    justify-content: center;
    gap: 7px;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .savings--desconto {
    display: none;
    /* font-weight: 400;
    color: white;
    background-color: var(--violeta);
    padding: 10px 5px;
    border-radius: 50%; */
    /* margin: 5px; */
    /* text-align: center;
    font-size: 12px;
    position: relative;
    margin-left: -50px;
    top: 2px; */
  }

  .sellingPriceValue {
    font-size: 1.3rem;
    font-weight: 700;
  }

  /* .listPrice {
    padding: 0 20px 0 20px;
  } */

  .savings--summary {
    background: var(purple);
    border-radius: 1000px;
    align-items: center;
    display: flex;

    font-size: 1rem;
    font-weight: 600;
    vertical-align: baseline;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px 2px var(--violeta);
    animation: vtex-product-price-1-x-pulse 2s infinite;
    padding: 5px;
    margin: 10px;
  }

  .savingsPercentage--desconto {
    font-size: smaller;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 10px 2px rgba(186, 248, 115, 0.7);
    }

    50% {
      box-shadow: 0 0 15px 3px rgba(139, 195, 74, 0.9);
      /* Aumenta um pouco a sombra */
    }

    100% {
      box-shadow: 0 0 10px 2px rgba(139, 195, 74, 0.7);
    }


  }

  .installments--summary-segunda {
  font-size: 12px;
}

.sellingPrice {
  font-size: 12px;
}
}

.stretchChildrenWidth .savings--desconto {
  width: 40px;
}

.savings--desconto {
  font-weight: 400;
  color: white;
  background-color: var(--rosa-installments);
  padding: 10px 5px;
  border-radius: 50%;
  /* margin: 5px; */
  text-align: center;
  font-size: 12px;
}
