

.teaserImage--sessao-blog{
  border-radius: 25px 25px 0 0;
}

.teaserContainer--sessao-blog,
.teaserContainer--sessao-blog :global(.vtex-card){
  border-radius: 25px;
  box-shadow: rgb(0 0 0 / 34%) 0px 3px 9px 0px!important;
}

.teaserTitle--sessao-blog {
  display: flex;
  flex-direction: row;
  height: 65px;
  justify-content: center;
  padding: 0 20px;
  margin: 0;
}

.latestPostsBlockContainer--sessao-blog {
  margin: 20px 120px;
}


.teaserTitleLink--sessao-blog {
  text-decoration: none;
  color: var(--rosa-installments);
  text-align: start;
  font-family: "inter-bold";
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.teaserTitleLink--sessao-blog:hover {
  color: var(--rosa-installments);
}

.teaserBody--sessao-blog {
  padding: 0 20px 20px;
  height: 210px;
  color: var(--fonte-cor-normal);
}

@media screen and (max-width: 1024px) {
  .latestPostsBlockContainer--sessao-blog {
    margin: 0 20px;
  }
}
