.stackItem--fav-dinamic-background{
  display: block;
}

.stackItem--product {
  width: 100%;
  min-height: 257px
}

.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}


.stackContainer--product-image {
  margin: 20px;
}

.stackItem--sacola-icone {
  top: 85%;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.stackItem--sacola-icone {
  position: absolute;
  z-index: 99!important;
}

@media screen and (max-width: 1024px) {
  .stackItem--sacola-icone {
    top: 80%;
    bottom: 0;
    left: 13px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .stackItem--fav-dinamic-background{
    position: relative;
    left: 20px;
  }
}
